<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dan The Man - Web Demo</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<div id="menu">
  <h1>DAN THE MAN</h1>

  <button id="playBtn">PLAY!</button>
  <div class="submenu" id="playMenu">
    <button data-mode="story">STORY MODE</button>
    <button data-mode="any">ANY MODE</button>
  </div>

  <button id="customBtn">CUSTOM BUILDING LEVEL!</button>
  <div class="submenu" id="customMenu">
    <button data-mode="create">CREATE LEVEL</button>
    <button data-mode="customPlay">PLAY LEVEL</button>
  </div>
</div>

<canvas id="game" width="640" height="360"></canvas>

<div id="hint">
  ⬅ ➡ Move &nbsp; | &nbsp; Z = Punch &nbsp; | &nbsp; X = Jump
</div>

<script src="main.js"></script>
</body>
</html>
