@font-face {
  font-family: "PressStart";
  src: url("assets/fonts/prstart.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #000;
  font-family: PressStart, monospace;
}

#game {
  display: block;
  background: #7bdc65;
}

/* MIDI UI */
#midi-ui {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: rgba(0,0,0,0.6);
  padding: 8px;
  border: 2px solid #fff;
}

#midi-ui button {
  font-family: PressStart;
  margin-left: 6px;
  cursor: pointer;
}
