@font-face {
  font-family: "DanFont";
  src: url("assets/fonts/prstartk.ttf") format("truetype");
}

body {
  background: #111;
  color: white;
  text-align: center;
  font-family: "DanFont", monospace;
}

h1 {
  margin: 10px 0;
}

canvas {
  border: 4px solid white;
  image-rendering: pixelated;
  background: #222;
}

.controls {
  margin-top: 10px;
}

button {
  font-family: "DanFont";
  padding: 6px 12px;
  margin-left: 6px;
  cursor: pointer;
}
